body {
    font-family: '나눔고딕';
    background-position: 50% 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    width: 1200px;
    overflow-x: hidden;
}


#seoul {
    background-image: url(../media/seoul/Seoul_main.png);
}
#busan {
    background-image: url(../media/busan/Busan_main.png);
    
    /* 다크모드 진입시 이거로 교체해주기

    background-color: #2b2d31;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url("../media/busan/Busan_main.png");

    */
}

#gyeongju {
    background-image: url(../media/gyeongju/Gyeongju_main.png);
}

#incheon {
    background-image: url(../media/incheon/Incheon_main.png);
}

header {
    height: 350px;
}

nav {
    top: 0px;
    left: 0px;
    width: 50px;
    z-index: 10;
    background-color: rgba( 255, 255, 255, 0.7 );
    position: fixed;
    height: 100%;
}
#menuIcon {
    margin-top: 30px;
    cursor: pointer;
}
#menuIcon:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
}
#close {
    margin-top: 33px;
    left: 230px;
    position: fixed;
    cursor: pointer;
}

#close:hover {
    left: 230px;
    position: fixed;
    background-color: rgb(199, 199, 199);
    border-radius: 30px;
}

.navInner{
    top: 0%;
    width: 300px;
    height: 100%;
    left: 0px;
    background-color: white;
    position: fixed;
}

.navInner li {
    font-size: 22px;
    display: inline-block;
    margin: 10px;
    margin-left: -10px;
    padding : 20px;
    padding-right: 50px;
    width: 150px;
}
.navInner li li:first-child {
    margin-top: 30px;
}
.navInner li li {
    display: inline-block;
    margin-left: -30px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
}

.navInner a:hover {
    color: #ff6d6d;
}

#logo {
    margin: 20px;
    padding: 20px;
}

.regionName {
    src: url("../font/YUniverse-B.ttf");
    font-family: 'YUniverse-B', 'Y유니버스';
    width: 300px;
    text-align: center;
    margin: 0 70%;
    padding: 60px;
    display: inline-block;
    position: relative;
    margin-top: -10%;
    text-shadow: 0px 5px 5px rgb(70, 70, 70);
}

a {
    text-decoration: none;
    color: inherit;
}

#slideShow {
    width: 1140px;
    height: 400px;
    display: inline-block;
    background-color: pink;
    margin-left: 30px;
    overflow: hidden;
    position: relative;
}

#slide {
    position: absolute;
}

#slide > img {
    width: 100%;
    float: left;
}

button {
    position: absolute;
    height: 100%;
    top: 0;
    border: none;
    padding: 20px;
    background-color: transparent;
    color: #000;
    font-weight: 800;
    font-size: 24px;
    opacity: 0.5;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

button:hover {
    background-color: #222;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
}

button:focus {
    outline: 0;
}
#left {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    border-radius: 30px;
    width: 550px;
    height: 400px;
}

#right {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    border-radius: 30px;
    width: 550px;
    height: 400px;
}

#only {
    width: 1140px;
    height: 1450px;
    display: inline-block;
    margin-left: 30px;
    background-color: rgba( 255, 255, 255, 0.7 );
    border-radius: 50px;
}

#onlyTwo {
    width: 1140px;
    height: 1030px;
    display: inline-block;
    margin-left: 30px;
    background-color: rgba( 255, 255, 255, 0.7 );
    border-radius: 50px;
}

.innerBox{
    padding: 20px 50px 20px 50px;
}

#bottom{
    width: 1140px;
    height: 500px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 30px;
    border-radius: 30px;
}

#scrollMenuForRegion {
    margin-top: -404px;
    margin-left: 1200px;
    width: 130px;
    height: 200px;
    background-color: rgba( 255, 255, 255, 0.7 );
    display: inline-block;
    position: fixed;
    border-radius: 15px;
    border: solid 1px;
    border-color: rgb(228, 228, 228, 0.7);
}

#scrollMenuForRegion > ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

#scrollMenuForRegion > ul > li {
    
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    padding: 5px 0;
}

#scrollMenu {
    margin-left: 1200px;
    width: 130px;
    height: 200px;
    background-color: rgba( 255, 255, 255, 0.7 );
    display: inline-block;
    position: fixed;
    border-radius: 15px;
    border: solid 1px;
    border-color: rgb(228, 228, 228, 0.7);
}

#scrollMenu > ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

#scrollMenu > ul > li {
    
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    padding: 5px 0;
}

footer {
    margin: 0 auto;
    text-align: center;
}

.bestBox {
    margin-top: 50px;
    width: 270px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: gainsboro;
    border-radius: 10px;
    position: relative;
}

.bestBoxTop {
    margin-bottom: 80px;
    width: 270px;
    height: 220px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    overflow: hidden;
}

.bestBoxTop img {
    width: 270px;
    height: 220px;
    max-width:100%;
    max-height:100%;
}

.bestBoxBottom {
    width: 240px;
    height: 80px;
    border-radius: 0 0 10px 10px;
    background-color: white;
    overflow: hidden;
    margin-top: -80px;
    padding-left: 30px;
}

#leftArrow {
    display: inline-block;
    margin-bottom: 120px;
}
#rightArrow {
    display: inline-block;
    margin-bottom: 120px;
}

.storeBox {
    width: 900px;
    height: 370px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px 50px 20px 50px;
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
}

.imgStyle{
    float: right;
    margin: 25px 0 0 50px;
    border-radius: 20px;
}

.bigFont{
    font-size: 20pt;
}

.middleFont{
    font-size: 15pt;
    font-style: bold;
}

.smallFont{
    font-size: 13pt;
}
.storeText{
    width: 550px;
    height: 240px;
}

.keyword p{
    display: inline-block;
    height: 23px;
    margin-top: 0px;
    margin-right: 10px;
    background-color: aquamarine;
}

.imgBox {
    width: 300px;
    height: 300px;
    float: right;
    margin: 25px 0 0 50px;
    border-radius: 20px;
    overflow: hidden;
}

.imgBox img {
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
    max-height: 100%;
}

.heart {
    float: right;
}

.heart:hover {
    cursor: pointer;
}

.reviewBox {
    margin: 0 auto;
    width: 350px;
    height: 200px;
    background-color: white;
    border: solid 1px;
    border-radius: 20px;
    border-color: rgb(228, 228, 228);
    padding: 25px;
}
